In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

import nltk

In [2]:
data = pd.read_csv('data/train.csv')

In [3]:
data.shape

(7613, 5)

In [4]:
data['target'].value_counts(normalize=True)

0    0.57034
1    0.42966
Name: target, dtype: float64

In [5]:
data.drop_duplicates(subset=['text'], inplace=True ,keep=False, ignore_index=True)

In [14]:
data.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [7]:
exemple = data.text[40]
exemple

"on the outside you're ablaze and alive\nbut you're dead inside"

In [10]:
from nltk.sentiment import SentimentIntensityAnalyzer